<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Actors</title>
</head>
<body>
<div style="background-color: #FBF8F1;">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #678983;">
	<a class="navbar-brand" href="/movies"><span class="material-icons" style="transform: scale(1.5);">theaters</span> My Movies</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	
  	<div class="collapse navbar-collapse" id="navbarNav">
  	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/add" style="color: #EFEFEF">Add a new movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actors" style="color: #EFEFEF">Actors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories" style="color: #EFEFEF">Categories</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	<div class="container" style="margin: 10px">
		<div class="row align-items-start">
		<div class="col-5"></div>
		<div class="col">
			<h4>Actors</h4>
			<ul th:each="actor : ${actors}">
				<!-- <a href="@{/movies/{id}(id=${actor.actid})}"> --><li th:text="${actor.firstname+' '+actor.lastname}">name</li><!-- </a> -->
			</ul>
			
		<a href="/newactor" class="btn btn-outline-success">Add a new actor</a>
	</div>
	<div class="col-5"></div>
	</div>
	</div>
</div>
</body>
</html>