<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Add a new movie</title>
</head>
<body>
<div style="background-color: #FBF8F1;">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #678983;">
	<a class="navbar-brand" href="/movielist"><span class="material-icons" style="transform: scale(1.5);">theaters</span> My Movies</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	
  	<div class="collapse navbar-collapse" id="navbarNav">
  	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/add" style="color: #EFEFEF">Add a new movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actors" style="color: #EFEFEF">Actors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories" style="color: #EFEFEF">Categories</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	<div class="container" style="margin: 10px">
		<div class="row align-items-start">
		<div class="col-4"></div>
		<div class="col">
		<h2>Add a new movie</h2>
		<form th:object="${movie}" th:action="@{/save}" action="#" method="post">
			<div class="form-group">
			<label for="title">Title</label>
				<input type="text" class="form-control" id="title" th:field="*{title}"/>
			</div>
			<div class="form-group">
			<label for="actor">Actor</label>
				<select id="actlist" th:field="*{actor}" class="form-control">
				<option th:each="actor: ${actors}" th:value="${actor.actid}"
				th:text="${actor.firstname+' '+actor.lastname}"></option>
				</select>
			</div>
			<div class="form-group">
			<label for="catlist">Category</label>
				<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.catid}"
				th:text="${category.name}"></option>
				</select>
			</div>
			<div class="form-group">
			<label for="year">Year</label>
				<input type="text" class="form-control" id="year" th:field="*{year}"/>
			</div>
			<div class="form-group">
			<label for="length">Length</label>
				<input type="text" class="form-control" id="length" th:field="*{length}"/>
			</div>
			<div class="form-group">
			<label for="rating">My rating</label>
				<input type="range" class="form-control-range" id="rating" th:field="*{rating}"
				min="1" max="10" step="1" value="1"
				onChange="document.getElementById('default1').innerText = document.getElementById('rating').value"/>
				<span id="default1">1</span>
			</div>
			<!-- <div class="form-group">
			<label for="imdb_rating">IMDB-rating</label>
				<input type="range" class="form-control-range" id="imdb_rating" th:field="*{imdb_rating}"
				min="1" max="10" step="0.1" value="1"
				onChange="document.getElementById('default2').innerText = document.getElementById('imdb_rating').value"/>
				<span id="default2">1</span>
			</div>
			<div class="form-group">
			<label for="rottentom_rating">Rotten Tomatoes-rating</label>
				<input type="range" class="form-control-range" id="rottentom_rating" th:field="*{rottentom_rating}"
				min="1" max="10" step="0.1" value="1"
				onChange="document.getElementById('default3').innerText = document.getElementById('rottentom_rating').value"/>
				<span id="default3">1</span>
			</div> -->
			<div class="form-group">
			<label for="description">Description</label>
				<input type="text" class="form-control" id="description" th:field="*{description}"/>
			</div>
			<div class="form-group">
			<label for="tagline">Tagline</label>
				<input type="text" class="form-control" id="tagline" th:field="*{tagline}"/>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="seen" th:field="*{seen}" style="transform: scale(1.5);"/>
				<label for="seen" class="form-check-label">Seen</label>
			</div><br/>
			<input type="submit" class="btn btn-outline-success" value="Save"></input>
		</form>
		<br/>
		</div>
		<div class="col-3"></div>
		</div>
		</div>
	</div>
</body>
</html>